@model ShoppingCartVM
@{
	ViewData["Title"] = "Details";
	Layout = "_LoginLayout";
}
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="breadcrumb-header">Cart</h3>
				<ul class="breadcrumb-tree">
					<li><a href="/Customer/Home">Home</a></li>
					<li class="active">Cart</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
		<div class="container">
		<div class="row">
			<form method="post">
				
				<div class="d-flex row-left-list">
					<div class="col-xs-12 col-lg-9 col-md-8 col-sm-7 mg-top-15  pd-right-0">
						<div class="bg-while">
							<div class="cart-title">
							<h2>Shopping Cart:</h2>
								@*<span class="cart-count">
									<span class="cart-counter">8</span>
									<span class="cart-item-title">Products</span>
								</span>*@
							</div>

							<div class="item-wrap" id="cart-page-result">
								@foreach (var item in Model.ShoppingCartList)
								{
									<input type="hidden" asp-for="@item.Product.ProductQuantity">
									<ul class="cart-wrap">
										<li class="item-info">
											<div class="item-img">
												<a href="/products/ao-thun-icondenim-big-logo-embroider"><img src="@item.Product.ProductImage" alt=""></a>
											</div>
											<div class="item-title">
												<a href="">@item.Product.ProductName</a>
												<div class="d-flex group-item-option">

													<span class="item-option">
														<span class="item-price">
															<span class="money">@item.Price.ToString("c")</span>
														<span class="text-muted">&nbsp;x&nbsp;</span>@item.Count
														</span>
													</span>
												</div>
											</div>
										</li>

									<li class="item-qty">
										<div class="quantity-area">
											<a value="–" class="qty-btn btn-left-quantity" asp-action="minus" asp-route-cartId="@item.Id">-</a>
											
											<input type="text"  value="@item.Count" class="quantity-selector quantity-mini" >
											<a   class="qty-btn btn-right-quantity" asp-action="plus" asp-route-cartId="@item.Id">+</a>
										</div>
										<div class="item-remove">
											<span class="remove-wrap">
												<a asp-action="remove" asp-route-cartId="@item.Id">Remove</a>

											</span>
										</div>
									</li>
										<li class="item-price">
											<span class="amount full-price">
												<span class="money"></span>
											</span>
										</li>
									</ul>

								}
							</div>

						</div>




						<h1>
						</h1>
					</div>

					<div class="col-xs-12 col-lg-3 col-md-4 col-sm-5 mg-top-15  pd-right-0">
						<div class="bg-while sidebar-checkout">
							<div class="sidebar-order-wrap">
								<div class="order_title">
								<h4>Order Information</h4>
								</div>
								<div class="order_total">
								@*	<p>
										Tạm tính:
									<span class="total-price" style="color:#000">@Model.OrderHeader.OrderTotal.ToString("c")</span>
									</p>*@
									
									<p>
									Total(USD):
									<span class="total-price">@Model.OrderHeader.OrderTotal.ToString("c")</span>
									</p>
								</div>
								<div class="order_text">
									<p>

									</p>
								</div>
								<!--
								 <div class="check-bill">
								 <div class="checkbox d-flex d-flex-center">
								 <input type="checkbox" id="checkbox-bill" value="yes" class="regular-checkbox">
								 <label for="checkbox-bill" class="title">Xuất hoá đơn</label>
								 </div>
								 <div class="bill-field">
								 <input type="text" class="form-control dt-width-100 mg-top-10" id="company_attr" value="" placeholder="Tên công ty">
								 <input type="text" class="form-control dt-width-100 mg-top-10" id="tax_attr" value="" placeholder="Mã số thuế">
								 <input type="text" class="form-control dt-width-100 mg-top-10" id="address_attr" value="" placeholder="Địa chỉ công ty">
								 <input type="text" class="form-control dt-width-100 mg-top-10" id="name_attr" value="" placeholder="Người nhận hóa đơn">
								 </div>
								 </div>
								-->
								
								<div class="order_action">
								<a class="btncart-checkout text-center" name="checkout" href="/Customer/Cart/Checkout">CHECKOUT</a>
									<p class="link-continue text-center">
									<a href="/Customer/Home/ProductByCategory">
										<i class="fa fa-reply"></i> CONTINUE SHOPPING
										</a>
									</p>
								</div>
								<br>
								<!--
								<div class="noteGHTet">
								 <span>Nhận đơn liên tỉnh đến hết ngày 14/1</span>
								</div>
								-->

							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		</div>


	