@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}
@model Company
<div class="row">
    <div class="col-12 text-center">
        <h2 class="text-black py-2"> @(Model.Id != 0 ? "Update" : "Create") Company</h2>
    </div>
            <div class="col-md-12 table-responsive-md">
                <form method="post"  enctype="multipart/form-data">
            <input asp-for="Id" hidden />
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="col-md-2"></div>
                    <div class="form-group col-md-2">
                        <label asp-for="@Model.Name"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="@Model.Name" class="form-control" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-2">
                            <label class="form-label" asp-for="@Model.City"></label>
                        </div>
                        <div class="form-group col-3">
                            <input class="form-control" asp-for="@Model.City" />
                            <span asp-validation-for="@Model.City" class="text-danger"></span>
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label class="form-label" asp-for="@Model.PhoneNumber"></label>
                        </div>
                        <div class="form-group col-3">
                            <input class="form-control" asp-for="@Model.PhoneNumber" />
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label class="form-label" asp-for="@Model.PostalCode"></label>
                        </div>
                        <div class="form-group col-3">
                            <input class="form-control" asp-for="@Model.PostalCode" />
                            <span asp-validation-for="@Model.PostalCode" class="text-danger"></span>
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label class="form-label" asp-for="@Model.State"></label>
                        </div>
                        <div class="form-group col-3">
                            <input class="form-control" asp-for="@Model.State" />
                            <span asp-validation-for="@Model.State" class="text-danger"></span>
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label class="form-label" asp-for="@Model.StreetAddress"></label>
                        </div>
                        <div class="form-group col-3">
                            <input class="form-control" asp-for="@Model.StreetAddress" />
                            <span asp-validation-for="@Model.StreetAddress" class="text-danger"></span>
                        </div>


                    </div>
                    <div class="form-group">

                        <button type="submit" class="btn btn-rounded btn-primary float-left">
                            <i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save
                        </button>
                        <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                        <br />
                        <br />
                        <br />

                    </div>
                </form>
            </div>
        </div>
 


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }